extends layout

block content
  div(id="daysVotes")
    h1 Chart #01 - Days X Quantity of Votes
    svg(style="height: 500px")

  div(id="videoLengthVotes")
    h1 Chart #01 - Video Length X Quantity of Votes
    svg(style="height: 500px")

